.sidebar {
    width: 70px;
    background-color: var(--bg-secondary);
    display: flex;
    flex-direction: column;
    padding: 2vh 0;
    gap: 2vh;
    align-items: center;
    border-right: 1px solid var(--border-color);
    justify-content: center;
    border-radius: 0 15px 15px 0;
    position: fixed;
    left: 0;
    transition: transform 0.5s ease-out;
    top: 36px;
    bottom: 0;
    height: auto;
    z-index: 10;
    overflow-y: auto;
}

.sidebar-btn {
    width: 50px;
    height: auto;
    aspect-ratio: 1;
    max-height: 8vh;
    background: none;
    border: none;
    color: var(--text-secondary);
    cursor: pointer;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    flex-shrink: 1;
}



.sidebar-btn svg,
.sidebar-btn img {
    width: 100%;
    height: 100%;
    filter: var(--icon-filter);
}

.sidebar-btn:hover {
    background-color: var(--bg-primary);
    color: var(--text-primary);
}

.sidebar-btn.active {
    background-color: var(--border-color);
    color: var(--text-primary);
}





